.included {
    z-index: 200;
    position: relative;
    text-align: start;
    white-space: pre-line;
    font-size: 15px;
    width: 98%;
    height: 98%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    color: #dca000;
    font-family: 'Arial', sans-serif;
}
