.included {
    position: relative;
    text-align: start;
    vertical-align: top;
    white-space: pre-line;
    left: 1%;
    font-size: 15px;
    width: 98%;
    height: 98%;
    overflow: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    color: #dca000;
    font-family: 'Arial', sans-serif;
}
