/*
.included {
    position: relative;
    text-align: start;
    text-align: center;
    vertical-align: middle;
    white-space: pre-line;
    left: 1%;
    font-size: 15vh;
    width: 98%;
    height: 98%;
    color: #dca000;
    font-family: 'Arial', sans-serif;
}
*/

.included {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-line;
    font-size: 15vh;
    color: #dca000;
    font-family: 'Arial', sans-serif;
}
